<?xml version="1.0" encoding="utf-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bjsxt.mapper.Sys_ReplyMapper">

    <!--添加帖子评论·-->
    <insert id="insert">
        insert into sys_Reply values (#{replyid},#{topicid},#{author},#{content},#{createdate})
    </insert>

    <!--查询帖子评论-->
    <select id="selectByNoN" resultType="sys_Reply">
        select * from sys_Reply where topicid=#{0}
    </select>

    <select id="queryAllN" resultType="sys_Reply">
        SELECT * FROM  sys_Reply
    </select>

    <!--2、-->
    <select id="queryAll" resultType="sys_Reply">
        select * from sys_Reply
    </select>







</mapper>

